*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.incri1{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
    /* background-color: rgb(255, 69, 0); */
    background:linear-gradient(rgba(255,69,0,0.7),rgba(255, 9, 1, 0.966));
    /* border: 1px solid black; */
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.incridiv1{
    /* border: 1px solid black; */
    /* margin: 35px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.incridiv1 p{
    font-size: 1.5rem;
    color: white;
    font-family:'Times New Roman', Times, serif;
    /* font-weight: bold; */
    font-weight: 100;
}
.counter-numbers{
    font-size: 2.8rem;
    color: white;
    font-weight: bold;
}
@media screen and (max-width:720px) {
.incridiv1 p{
    font-size: 0.8rem;
}
.counter-numbers{
    font-size: 1.5rem;
}
.incri1{
    height: 200px;
}
}